<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Forward to REST Proxy" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="api/*" />
                    <action type="Rewrite" url="http://localhost:8800/{R:1}" logRewrittenUrl="false" />
                    <serverVariables>
                        <set name="HTTP_X_Forwarded_Host" value="{HTTP_HOST}" />
                        <set name="HTTP_X_Scripts_Path" value="uniScripts/mgrqispi.dll" />
                        <set name="HTTP_X_Forwarded_Proto" value="{ProtocolScheme:{HTTPS}}" />
                        <set name="HTTP_X_Forwarded_Appname" value="MGPostTest" />
                    </serverVariables>
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="ProtocolScheme">
                    <add key="on" value="https" />
                    <add key="off" value="http" />
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
